-# coding: utf-8
!!!5
%html
  %head
    %script(language="javascript" src="webservice_tester/jquery.js")
    %script(language="javascript" src="webservice_tester/beautifier.js")
    %script(language="javascript" src="webservice_tester/webservice_tester.js")
    %link(href="webservice_tester/webservice_tester.css" rel="stylesheet" type="text/css")
%body
  .request
    .field
      %label
        URL
      %input#url(type='text')
    .field
      %label
        Method
      .radio-group
        .radio
          %input#GET(type='radio' name='method' value='GET' checked) GET
        .radio
          %input#POST(type='radio' name='method' value='POST') POST
        .radio
          %input#PUT(type='radio' name='method' value='PUT') PUT
        .radio
          %input#DELETE(type='radio' name='method' value='DELETE') DELETE
    .field
      %label
        Headers:
      %textarea#headers
    .field
      %label
        Body:
      %textarea#body
    .actions
      #send
        .default Send
        .loading Loading
    %hr
    .field
      %label
        Status Code:
      %input#status-code(type='text')
    .field
      %label
        Response:
      %textarea#response-body
  .examples
    - if !WebserviceTester.api_versions.blank?
      - WebserviceTester.api_versions.each do |version|
        %a{ href: '?version='+version }= version

      - if params[:versions].blank?
        - version = WebserviceTester.api_versions.first

      = haml 'webservice', version: version

    - else
      = haml 'webservice', version: ''
